Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -bugprone-throwing-static-initialization,
  -readability-avoid-const-params-in-decls
WarningsAsErrors: ''
HeaderFilterRegex: '.*robot-firmware/(src|lib)/.*\.(h|hpp|cpp)$'
FormatStyle: file
